

/* section_1 */
.section_1{width: 1520px; height: 1160px;margin: 0 auto;background-color: blueviolet;}
.section_tb{width: 1520px; height: 140px;margin: 0 auto;background-color: aqua;}

/* section_2 */
.section_2{width: 1520px; height: 820px;margin: 0 auto;background-color: palevioletred;}

/* suvslide */
.suvslide{width: 1520px; height: 350px;margin: 0 auto;background-color: brown;}
