
/* header */
.header{height: 70px;position: fixed !important; top: 0; left: 0; right: 0;
        backdrop-filter: blur(10px);color: yellowgreen;}
.header:hover{height: 70px;position: fixed !important; top: 0; left: 0; right: 0;
        transition: all 0.8s ease;background-color: azure; color: deeppink;}

/* section_1 */
.section_1{height: 1160px;margin: 0 auto;background-color: gold;}
.section_tb{width: 1520px; height: 140px;margin: 0 auto;background-color: aqua;}

/* section_2 */
.section_2{height: 820px;margin: 0 auto;background-color: palevioletred;}

/* suvslide */
.suvslide{width: 1520px; height: 350px;margin: 0 auto;background-color: brown;}


/* footer */
.footer{width: 1520px; height: 350px;margin: 0 auto;}