<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap cdn-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <!--pyb css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Interior web</title>
</head>
<body>
 <nav class="navbar nabar-expand-sm bg-body-tertiary">
     <div class="container-fluid">
         <a class="navbar-brand" href="{{ url_for('main.index') }}">interior</a>
         <button class="navbar-toggler"type="button" data-bs-tpggle="collapse" data-bs-target="navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             <button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav">
                         <li class="nav-item">
                             <a class="nav-link active" aria-current="page" href="#">회원가입</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="#">로그인</a>
                         </li>
                     </ul>
                 </div>
             </button
         </button>
     </div>
 </nav>

<!--네비게이션바-->
{% include 'navbar.html' %}

<!--기본 템플릿 안에 삽입될 내용 start-->
{% block content %}
{% endblock %}
<!--기본 템플릿 안에 삽입될 내용 end-->

<!--bootstrap js cdn-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js
"></script>
</body>
</html>